name: Test and Release

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * 5" # every Friday 04:00

env:
  CPQ: ${{ vars.CPQ }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
      - name: Install dependencies
        run: |
          npm ci --ignore-scripts
          npm install --ignore-scripts --global @salesforce/cli@${SF_CLI_VERSION:-"latest"}
          npx puppeteer browsers install chrome
      - name: Run unit tests
        run: npm run test
      - name: Authenticate DevHub and create scratch org
        env:
          SFDX_AUTH_URL_DEVHUB: ${{ secrets.SFDX_AUTH_URL_DEVHUB }}
        run: |
          echo "${SFDX_AUTH_URL_DEVHUB}" | sf org login sfdx-url --set-default-dev-hub --alias devhub --sfdx-url-stdin
          npm run develop
      - name: Run end-to-end tests
        run: npm run test:e2e
      - name: Delete scratch org
        if: always()
        run: |
          sf org delete scratch --no-prompt
  release:
    needs: test
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - name: Release package
        run: npx -y --ignore-scripts semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
