name: Test Salesforce Preview Release

on:
  workflow_dispatch:

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
      - name: Install dependencies
        run: |
          yarn install
          yarn global add @salesforce/cli@${SF_CLI_VERSION:-"latest"}
      - name: Run unit tests
        run: yarn test
      - name: Authenticate DevHub and create scratch org
        env:
          SFDX_AUTH_URL_DEVHUB: ${{ secrets.SFDX_AUTH_URL_DEVHUB }}
        run: |
          sf org login sfdx-url -d -a devhub -f /dev/stdin <<< "${SFDX_AUTH_URL_DEVHUB}"
          yarn develop --release preview
      - name: Run end-to-end tests
        run: yarn test:e2e
      - name: Delete scratch org
        if: always()
        run: |
          sf org delete scratch -p
